<div class="py-5 text-center">
  <h2>Добавление товара</h2>
  <p class="lead">Пожалуйста, заполните форму для добавления нового товара в каталог.</p>
</div>
<form class="needs-validation" novalidate #formDir="ngForm" [formGroup]="dataModel">
  <div class="row">
    <div class="col-md-4 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Фото товара</span>
      </h4>
      <label>Допустимые форматы: PNG, JPG < 1 Мб</label>
      <img-uploader formControlName="image"></img-uploader>
      <pre>{{ dataModel.value | json }}</pre>
    </div>
    <div class="col-md-8">
      <h4 class="mb-3">
        <span class="text-muted">Основная информация</span>
      </h4>
      
      <div class="row">
        
        <div class="col-md-6 mb-3">
          <input-text label="Наименование" formControlName="name">
            Минимум 4 символа (буквы и/или цифры)
          </input-text>
        </div>
        <div class="col-md-6 mb-3">
          <input-text label="Артикул" formControlName="code" [id]="'code'">
            Минимум 4 символа (буквы и/или цифры)
          </input-text>
        </div>
        <div class="col-md-4 mb-3">
          <input-text label="Цена" append="&#8381;" formControlName="price" [id]="'price'">
            Только цифры и знак точки
          </input-text>  
        </div>
        <div class="col-md-4 mb-3">
          <input-select label="Скидка" formControlName="discount" [id]="'discount'">
            <ng-container>
              <option 
                *ngFor="let discount of discounts"
                [value]="discount">
                {{ (discount !== 0) ? discount + '%' : 'Без скидки' }}
              </option>
            </ng-container>
            <span>Обязательное поле</span>
          </input-select>
        </div>
        <div class="col-md-4 mb-3">
          <label for="sum">Цена со скидкой</label>
          <div class="input-group">
            <input type="text" class="form-control" id="sum" [value]="sum" readonly>
            <div class="input-group-append">
              <span class="input-group-text">&#8381;</span>
            </div>
          </div>
        </div>
      </div>
      
      <hr class="mb-4">
  
      <h4 class="mb-3">
        <span class="text-muted">Характеристики</span>  
      </h4>
      <div class="row">
        <div class="col-md-4 mb-3">
          <input-select label="Тип" formControlName="type" [id]="'type'">
            <ng-container>
              <option value="">-- не выбрано --</option>
              <option 
                *ngFor="let type of types"
                [ngValue]="type">
                {{ type }}
              </option>
            </ng-container>
            <span>Обязательное поле.</span>
          </input-select>
        </div>
        <div class="col-md-4 mb-3">
          <input-select label="Тип уборки" formControlName="cleaningType" [id]="'cleaningType'">
            <ng-container>
              <option value="">-- не выбрано --</option>
              <option 
                *ngFor="let cleaningType of cleaningTypes"
                [ngValue]="cleaningType">
                {{ cleaningType }}
              </option>
            </ng-container>
            <span>Обязательное поле.</span>
          </input-select>
        </div>
        <div class="col-md-4 mb-3">
          <input-select label="Регулятор мощности" formControlName="powerController" [id]="'powerController'">
            <ng-container>
              <option value="">-- не выбрано --</option>
              <option 
                *ngFor="let powerController of powerControllers"
                [ngValue]="powerController">
                {{ powerController }}
              </option>
            </ng-container>
            <span>Обязательное поле.</span>
          </input-select>
        </div>
        <div class="col-md-4 mb-3">
          <input-select label="Тип питания" formControlName="powerType" [id]="'powerType'">
            <ng-container>
              <option *ngFor="let powerType of powerTypes" [value]="powerType">{{ powerType }}</option>
            </ng-container>
            <span>Обязательное поле.</span>
          </input-select>
        </div>
        <ng-container *ngIf="!isBattery" formGroupName="powerCable">
          <div class="col-md-4 mb-3">
            <input-text label="Длина сетевого шнура" append="м" formControlName="cableLength" [id]="'cableLength'">
              [0-9.]
            </input-text> 
          </div>
          
          <div class="col-md-4 mb-3">
            <input-select label="Автосматывание" formControlName="autoClose" [id]="'autoClose'">
              <ng-container>
                <option value="">-- не выбрано --</option>
                <option 
                  *ngFor="let autoClose of autoCloses"
                  [ngValue]="autoClose">
                  {{ autoClose }}
                </option>
              </ng-container>
              <span>Обязательное поле.</span>
            </input-select>
          </div>
        </ng-container>
        <ng-container *ngIf="isBattery" formGroupName="powerBattery">
          <div class="col-md-4 mb-3">
            <input-text label="Ёмкость аккумулятора" append="мА*ч" formControlName="capacity" [id]="'capacity'">
              [0-9.]
            </input-text> 
          </div>
          
          <div class="col-md-4 mb-3">
            <input-text label="Время работы" append="мин" formControlName="workingTime" [id]="'batteryTime'">
              [0-9.]
            </input-text> 
          </div>
        </ng-container>
        <div class="col-md-4 mb-3">
          <input-select label="Пылесборник" formControlName="collectorType">
            <ng-container>
              <option value="">-- не выбрано --</option>
              <option 
                *ngFor="let collectorType of collectorTypes"
                [ngValue]="collectorType">
                {{ collectorType }}
              </option>
            </ng-container>
            <span>Обязательное поле.</span>
          </input-select>
        </div>
        <div class="col-md-4 mb-3">
          <input-text label="Объем пылесборника" append="л" formControlName="collectorCapacity" [id]="'collectorCapacity'">
            [0-9.]
          </input-text> 
        </div>
        <div class="col-md-4 mb-3">
          <input-text label="Уровень шума" append="дБ" formControlName="noise" [id]="'noise'">
            [0-9.]
          </input-text> 
        </div>
      
      </div>
      <hr class="mb-4">
      <h4 class="mb-3">
        <span class="text-muted">Габариты, вес и цвет</span>  
      </h4>
      <div class="row">
        <div class="col-md-3 mb-3">
          <input-text label="Длина" append="см" formControlName="length" [id]="'length'">
            [0-9.]
          </input-text> 
        </div>
        <div class="col-md-3 mb-3">
          <input-text label="Ширина" append="см" formControlName="width" [id]="'width'">
            [0-9.]
          </input-text> 
        </div>
        <div class="col-md-3 mb-3">
          <input-text label="Высота" append="см" formControlName="height" [id]="'height'">
            [0-9.]
          </input-text> 
        </div>
        <div class="col-md-3 mb-3">
          <input-text label="Вес" append="кг" formControlName="weight" [id]="'weight'">
            [0-9.]
          </input-text> 
        </div>
        <div class="col-md-6 mb-3">
          <label>Доступные цвета</label>
          <div>
            <color-picker formControlName="colors"></color-picker>
          </div>
        </div>
        
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" (click)="submit()">Сохранить товар</button>
      
    </div>
  </div>
</form>