<label [for]="id" (click)="click($event)">{{ label }}</label>
<div class="input-group">
  <input 
    type="text" 
    [id]="id" 
    class="form-control" 
    [(ngModel)]="value"
    required
  >
  <div class="input-group-append" *ngIf="append">
    <span class="input-group-text">{{ append }}</span>
  </div>
</div>
<div class="invalid-feedback">
  <ng-content></ng-content>
</div>