.check-color {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  opacity: .6;
  background: red;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid transparent;
  box-sizing: content-box;
  margin: 0 5px;
}

.check-color.red { background: red; }
.check-color.blue { background: blue; }
.check-color.yellow { background: yellow; }
.check-color.orange { background: orange; }
.check-color.green { background: #20f320; /* 'green' is too dark */}
.check-color.black { background: #000; }

/* contrast compensation for black & white */
.check-color.black .icon { fill: #fff; }
.check-color.white { background: #fff; border-color: #ccc; }


.check-color input {
  position: absolute;
  left: -9999px;
}
.check-color svg {
  width: 16px;
  height: 32px;
  opacity: 0;
  display: block;
  margin: 0 auto;
  transition: opacity 0.3s ease-in-out;
}

.check-color.checked {
  opacity: 1;
  border: 1px solid #000;
}
.check-color.checked svg {
  opacity: 1;
}