<app-navbar></app-navbar>

<div class="container">
  <router-outlet></router-outlet>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 AZhirov</p>
  </footer>
</div>