<ng-container
  *ngFor="let color of colors; let i = index;"
>
  <check-color 
      [color]="color" 
      [checked]="checked.indexOf(color) !== -1"
      (onClicked)="toggle(color)">
  </check-color>
</ng-container>
<div class="invalid-feedback">
  Выберите как минимум 1 цвет
</div>