<label for="collectorType">{{ label }}</label>
<div class="input-group">
  <select class="custom-select d-block w-100" id="collectorType" [(ngModel)]="value" required>
    <ng-content select="ng-container"></ng-content>
  </select>
</div>
<div class="invalid-feedback" style="width: 100%;">
  <ng-content select="span"></ng-content>
</div>