<div class="py-5 text-center">
  <h2>Каталог товаров</h2>
  <p class="lead" *ngIf="products.length == 0">
    К сожалению, каталог товаров пуст. Сначала добавьте товар.
  </p>
</div>
<div class="row" *ngIf="products.length != 0">
  <div class="col-md-4 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Список товаров</span>
    </h4>
    <div class="list-group">
      <a class="list-group-item list-group-item-action"
        *ngFor="let product of products; index as i"
        (click)="selectProduct(i)"
      >
        {{ product.name }}
      </a>
    </div>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
          <h4 class="mb-3">
            <span class="text-muted">Информация о товаре</span>
          </h4>
          <dl class="row">
            <dt class="col-sm-5">Наименование</dt>
            <dd class="col-sm-7">{{ selectedProduct.name }}</dd>
            
            <dt class="col-sm-5">Стоимость</dt>
            <dd class="col-sm-7">{{ selectedProduct.price }}</dd>
          
            <dt class="col-sm-5">Скидка</dt>
            <dd class="col-sm-7">{{ selectedProduct.discount }}</dd>
            
            <dt class="col-sm-5">Стоимость со скидкой</dt>
            <dd class="col-sm-7">{{ selectedProduct.price-selectedProduct.price*selectedProduct.discount/100 }}</dd>
          </dl>
      </div>
      <div class="col-md-6">
        <h4 class="mb-3">
          <span class="text-muted">Фото товара</span>
        </h4>
        <div class="photo">
          <img [src]="selectedProduct.image">
        </div>
      </div>
    </div>
    
   <div class="row">
     <div class="col-md-6">
        <h4 class="mb-3">
          <span class="text-muted">Характеристики</span>
        </h4>
        <dl class="row">
          <dt class="col-sm-4">Тип</dt>
          <dd class="col-sm-8">{{ selectedProduct.type }}</dd>
          
          <dt class="col-sm-4">Тип уборки</dt>
          <dd class="col-sm-8">{{ selectedProduct.cleaningType }}</dd>
        
          <dt class="col-sm-4">Регулятор мощности</dt>
          <dd class="col-sm-8">{{ selectedProduct.powerController }}</dd>
          
          <dt class="col-sm-4">Тип питания</dt>
          <dd class="col-sm-8">{{ selectedProduct.powerType }}</dd>
            
          <ng-container *ngIf="selectedProduct.powerType == 'Аккумуляторный'">
            <dt class="col-sm-4">Ёмкость аккумулятора</dt>
            <dd class="col-sm-8">{{ selectedProduct.powerBattery.capacity || '-' }}</dd>
            <dt class="col-sm-4">Время работы</dt>
            <dd class="col-sm-8">{{ selectedProduct.powerBattery.workingTime }}</dd>
          </ng-container>
          <ng-container *ngIf="selectedProduct.powerType == 'От сети'">
            <dt class="col-sm-4">Длина сетевого шнура</dt>
            <dd class="col-sm-8">{{ selectedProduct.powerCable.cableLength || '-' }}</dd>
            <dt class="col-sm-4">Автосматывание</dt>
            <dd class="col-sm-8">{{ selectedProduct.powerCable.autoClose }}</dd>
          </ng-container>
          
          <dt class="col-sm-4">Пылесборник</dt>
          <dd class="col-sm-8">{{ selectedProduct.collectorType }}</dd>
          
          <dt class="col-sm-4">Объем пылесборника</dt>
          <dd class="col-sm-8">{{ selectedProduct.collectorCapacity }}</dd>
          
          <dt class="col-sm-4">Уровень шума</dt>
          <dd class="col-sm-8">{{ selectedProduct.noise }}</dd>
        </dl>
     </div>
     <div class="col-md-6">
        <h4 class="mb-3">
          <span class="text-muted">Габариты, вес и цвет</span>
        </h4>
        <dl class="row">
          <dt class="col-sm-4">Длина</dt>
          <dd class="col-sm-8">{{ (selectedProduct.length) ? selectedProduct.length + ' см' : 'не указано' }}</dd>
          
          <dt class="col-sm-4">Ширина</dt>
          <dd class="col-sm-8">{{ (selectedProduct.width) ? selectedProduct.width + ' см' : 'не указано'  }}</dd>
          
          <dt class="col-sm-4">Высота</dt>
          <dd class="col-sm-8">{{ (selectedProduct.height) ? selectedProduct.height + ' см' : 'не указано'  }}</dd>
          
          <dt class="col-sm-4">Вес</dt>
          <dd class="col-sm-8">{{ (selectedProduct.weight) ? selectedProduct.weight + ' кг' : 'не указано'  }}</dd>
          
          <dt class="col-sm-4">Цвета</dt>
          <dd class="col-sm-8">{{ selectedProduct.colors }}</dd>
        </dl>
     </div>
   </div>
    
    
  </div>
</div>