<label for="photo" class="uploader" (drop)="onDrop($event, dropData)" (dragover)="allowDrop($event)">
  <input id="photo" type="file" (change)="fileChangeEvent($event)" />
  <div class="inner" *ngIf="!image">
    <p>Перетащите фото в эту область <br />
    или <span>выберите</span> файл</p>
    <p class="error" *ngIf="error">
      Файл слишком большой для localStorage.
    </p>
  </div>
  <div class="inner" *ngIf="image" >
    <img id="preview" [src]="image" alt="Preview">
  </div>
</label>