.uploader {
    position: relative;
    text-align: center;
    display: block;
    padding-bottom: 100%;
    border: 1px dashed #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.uploader:hover {
    border-color: #ccc;
    background: #fbf9ff;
}

.uploader input {
    position: absolute;
    left: -99999px;
}
.uploader img {
    display: block;
    width: 100%;
    height: auto;
}
.uploader .inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uploader .inner span {
    color: #007bff;
}
.uploader .inner span:hover {
    color: #0056b3;
    text-decoration: underline;
}